<!--TODO: take a look at trackBy for performance-->
<carousel [interval]="myInterval" [noWrap]="noWrapSlides">
	<slide *ngFor="#slide of slides; #index=index" [active]="slide.Active">
<!--		<img class="img-responsive" [src]="baseUrl + slide.image" style="margin:auto;position: absolute;top: 0;left: 0;right: 0;bottom: 0;">-->
		<img class="img-responsive" [src]="baseUrl + slide.image">

		<div class="carousel-caption">
			<p>{{slide.title}}</p>
		</div>
	</slide>
</carousel>
<div *ngFor="#article of articles">{{article.title}}</div>